.Wui__possibility {
  display: flex;
  flex-direction: row;
}

.Wui__possibility-img {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-right: 2rem;
}

.Wui__possibility-img img {
  width: 100%;
  height: 100%;
}

.Wui__possibility-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.Wui__possibility-content h4 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #71e5ff;
}
.Wui__possibility-content h4:last-child {
  color: #ff8a71;

  margin-bottom: 2rem;
}
.Wui__possibility-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;

  margin: 1rem 0;
}
.Wui__possibility-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #81afdd;

  margin-bottom: 2rem;
}

@media  screen and (max-width:950px) {
    .Wui__possibility {
        flex-direction: column;
        gap: 3rem 0;
    }
}